{% extends 'base.html' %}
{% load static %}

{% block 'header' %}
<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#"><span class="text-danger">Antique</span>RIDE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                {% if request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" rel="nofollow" target="_blank">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}" target="_blank">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block 'body' %}
<section id="hero">
    <div class="conatiner-fluid">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="display-5 mb-4">Let's Find A Near Deal</h2>
                <p class="lead text-white mb-2">Looking to buy or sell a used car? We've got you
                    covered. </br> <strong>AntiqueRide</strong> is the leading used car marketplace.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <form action="#" class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="'classic volkswagen'"
                        aria-label="'classic volkswagen'" aria-describedby="button-addon2">
                    <button class="btn btn-brand" type="button" id="button-addon2">Find</button>
                </div>
            </form>
            <footer class="mt-auto text-center text-white-50 main_footer ">
                <p>Copyright © {% now 'Y' %} <a href="" class="text-white">AntiqueRide</a> by <a href="https://"
                        class="text-white">ThisaraJeewantha</a></p>
            </footer>
        </div>
    </div>
</section>

{% endblock %}

{% block 'footer' %}
{% endblock %}