* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
html,
body {
  background: #ffffff;
}

strong {
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

/* +++++start-nav-bar+++++ */
.navbar {
  border: none !important;
}

.nav-link {
  color: brown;
}
.nav-link:hover {
  border-bottom: 2px solid brown;
}

/* -----end-nav-bar----- */

h2 {
  font-weight: 700;
  color: #ffffff;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.4s linear;
}

section {
  padding-top: 175px;
  padding-bottom: 100px;
}

#hero {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.231)),
    url(../images/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  background-attachment: fixed;
}

#hero .input-group {
  padding: 25px;
}

#hero .input-group input {
  border: none;
  background-color: #ffffffa4;
  color: #000000;
  border-radius: 4px;
}

#hero .input-group input:focus {
  box-shadow: none;
}

#hero .input-group input::placeholder {
  color: #4f4f4f;
}

.btn {
  background-color: brown;
  color: white;
  border-color: brown;
  border-radius: 4px;
  font-weight: 700;
  transition: all 0.4s ease;
}

.btn:hover {
  color: #ffffff;
  background-color: brown;
  transform: translateY(3px);
}

.btn-brand {
  background-color: brown;
  color: #ffffff;
  border-radius: 4px;
}

.btn-brand:hover {
  color: #000000;
}

.main_footer {
  padding-top: 100px;
}
/* 
login template */

#login-form {
  padding-top: 100px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login-form .btn {
  padding: 20px;
  border-radius: 45px;
}

/* register form */

#register-form {
  padding-top: 100px;
}

#register-form .btn {
  padding: 20px;
  border-radius: 45px;
}
